<?xml version="1.0"?>

<config>
    <modules>
        <SmartOsc_CategoryCarousel>
            <version>1.0.0</version>
        </SmartOsc_CategoryCarousel>
    </modules>
    <global>
        <resources>
            <smartosc_categorycarousel_setup>
                <setup>
                    <module>SmartOsc_CategoryCarousel</module>
                    <class>SmartOsc_CategoryCarousel_Model_Resource_Setup</class>
                </setup>
            </smartosc_categorycarousel_setup>
        </resources>
        <blocks>
            <smartosc_categorycarousel>
                <class>SmartOsc_CategoryCarousel_Block</class>
            </smartosc_categorycarousel>
        </blocks>
        <helpers>
            <smartosc_categorycarousel>
                <class>SmartOsc_CategoryCarousel_Helper</class>
            </smartosc_categorycarousel>
        </helpers>
        <models>
            <smartosc_categorycarousel>
                <class>SmartOsc_CategoryCarousel_Model</class>
                <resourceModel>smartosc_categorycarousel_resource</resourceModel>
            </smartosc_categorycarousel>
            <smartosc_categorycarousel_resource>
                <class>SmartOsc_CategoryCarousel_Model_Resource</class>
                <entities>
                    <banner>
                        <table>smartosc_categorycarousel_banner</table>
                    </banner>
                </entities>
            </smartosc_categorycarousel_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <smartosc_categorycarousel>
                    <file>smartosc_categorycarousel.xml</file>
                </smartosc_categorycarousel>
            </updates>
        </layout>
        <translate>
            <modules>
                <SmartOsc_CategoryCarousel>
                    <files>
                        <default>SmartOsc_CategoryCarousel.csv</default>
                    </files>
                </SmartOsc_CategoryCarousel>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SmartOsc_CategoryCarousel before="Mage_Adminhtml">SmartOsc_CategoryCarousel_Adminhtml</SmartOsc_CategoryCarousel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
