<?xml version="1.0"?>
<config>
    <modules>
        <CLS_Custom>
            <version>1.0.0</version>
        </CLS_Custom>
    </modules>
    <global>
        <blocks>
            <cls_custom>
                <class>CLS_Custom_Block</class>
            </cls_custom>
            <cls_widgets>
                <rewrite>
                    <widget_catalog_product_carousel>CLS_Custom_Block_Widget_Catalog_Product_Carousel</widget_catalog_product_carousel>
                </rewrite>
            </cls_widgets>
            <enterprise_googleanalyticsuniversal>
                <rewrite>
                    <ga>CLS_Custom_Block_Ga</ga>
                </rewrite>
            </enterprise_googleanalyticsuniversal>
        </blocks>
        <models>
            <cls_custom>
                <class>CLS_Custom_Model</class>
            </cls_custom>
        </models>
        <helpers>
            <cls_custom>
                <class>CLS_Custom_Helper</class>
            </cls_custom>
        </helpers>
        <resources>
            <cls_custom_setup>
                <setup>
                    <module>CLS_Custom</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </cls_custom_setup>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <cls_custom>
                        <type>singleton</type>
                        <class>cls_custom/observer</class>
                        <method>accountCreationSetCookie</method>
                    </cls_custom>
                </observers>
            </customer_save_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cls_custom module="CLS_Custom">
                    <file>cls_custom.xml</file>
                </cls_custom>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <CLS_Custom before="Mage_Contacts">CLS_Custom_Contacts</CLS_Custom>
                    </modules>
                </args>
            </contacts>
            <newsletter>
                <args>
                    <modules>
                        <CLS_Custom before="Mage_Newsletter">CLS_Custom_Newsletter</CLS_Custom>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <default>
        <catalog>
            <product_view_display>
                <blog_post_count>3</blog_post_count>
                <character_count>160</character_count>
            </product_view_display>
        </catalog>
        <shipping>
            <option>
                <free_shipping_message>Add %s to receive free shipping.</free_shipping_message>
                <free_shipping_message_additional><![CDATA[One (or more) items in your cart do not qualify for free shipping.]]></free_shipping_message_additional>
                <free_shipping_limit>50</free_shipping_limit>
            </option>
        </shipping>
    </default>
</config>
